thead {
    border: 3px solid black;
}

table {
    border: 3px solid black;
    width: 1000px;
}

td {
    border: 3px solid black;
}

tr {
    border: 3px solid black;
}

tbody {
    border: 3px solid black;
}

.footer {
    text-align: right;
}

.header {
    text-align: center;
}

.bold {
    font-weight: bold;
}

body {
    font-size: 50px;
}